<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Sign in</title>
    <meta name="keywords" content="游戏空间">
    <meta name="description" content="RuoYi">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
        ;
    </script>
</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="loginform">
            <h1 id="title">Gaming Area</h1>
                <form id="signupForm">
                    <input type="text" name="username" class="form-control uname" placeholder="Username"
                           value="admin"/>
                    <input type="password" name="password" class="form-control pword m-b" placeholder="Password"
                           value="admin123"/>
                    <a href="#" style="color: #fff;">Forgot password?</a>
                    <button class="btn btn-success btn-block">Sign in</button>
                </form>
        </div>
    </div>
</div>
<script th:inline="javascript"> var ctx = [[@{
    /}]]; </script>
<!-- 全局js -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- 验证插件 -->
<script src="/ajax/libs/validate/jquery.validate.min.js"></script>
<script src="/ajax/libs/validate/messages_zh.min.js"></script>
<script src="/ajax/libs/layer/layer.min.js"></script>
<script src="http://tajs.qq.com/stats?sId=62048022"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log(ctx);
        validateRule();
    });

    $.validator.setDefaults({
        submitHandler: function () {
            login();
        }
    });

    function login() {
        $.ajax({
            type: "POST",
            url: ctx + "login",
            data: $('#signupForm').serialize(),
            success: function (r) {
                if (r.code == 0) {
                    parent.location.href = '/index';
                } else {
                    layer.msg(r.msg);
                }
            }
        });
    }

    function validateRule() {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: icon + "请输入您的用户名",
                },
                password: {
                    required: icon + "请输入您的密码",
                }
            }
        })
    }
</script>
</body>
</html>
